<h2>Employee List</h2>

<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Weekly Effort (Total)</th>
    <th scope="col">Weekly Effort (Average)</th>
  </tr>
  </thead>
  <tbody *ngFor="let employee of employees;">
  <tr [routerLink]="['/employee',employee.id]" style="cursor: pointer">
    <th scope="row">{{employee.id}}</th>
    <td>{{employee.code}}</td>
    <th>{{employee.name}}</th>
    <th>{{employee.id | totalWeeklyHours: weeklyTasks}}</th>
    <th>{{((employee.id | totalWeeklyHours: weeklyTasks)/7).toFixed(2)}}</th>
  </tr>
  </tbody>
</table>
