<h2>Employee List</h2>

<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Weekly Effort (Total)</th>
    <th scope="col">Weekly Effort (Average)</th>
  </tr>
  </thead>
  <tbody *ngFor="let employee of employees">
  <tr>
    <th scope="row">{{employee.id}}</th>
    <td>{{employee.code}}</td>
    <td><a [routerLink]="['/employee',employee.id]">{{employee.name}}</a></td>
  </tr>
  </tbody>
</table>
