<div class="select-employee">
  <label><strong>Select Employee: </strong></label>
  <select class='select-option' #mySelect (change)='onEmployeeSelected(mySelect.value)'>
    <option class='option' *ngFor='let employee of employees' [value]="employee.id">
      {{ employee.name }}
    </option>
    <option *ngIf="selectedEmployee && selectedEmployee.id == employeeId" selected> {{selectedEmployee.name}}</option>
  </select>
</div>


<div class="header-text">
  <img src="./assets/images/left-arrow.png" height="40px">
  <h2>
    Week
  </h2>
  <img src="./assets/images/right-arrow.png" height="40px">
  <div class="add-icon">
    <img src="./assets/images/plus.png" (click)="addNewRow()">
  </div>
</div>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  {{taskForm.value | json}}
  <table class="table table-bordered" id="employee-details">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
    </thead>
    <tbody formArrayName="Tasks">
    <tr *ngFor="let obj of formArr.controls; let i = index; let l = last"
        [formGroupName]="i">
      <th scope="row">
        <input type="text" id="taskName" formControlName="taskName" style="border: none; width: 100%">
      </th>
      <td><input type="text" id="sunday" formControlName="sunday" size="4" style="border: none"></td>
      <td><input type="text" id="monday" formControlName="monday" size="4" style="border: none"></td>
      <td><input type="text" id="tuesday" formControlName="tuesday" size="4" style="border: none"></td>
      <td><input type="text" id="wednesday" formControlName="wednesday" size="4" style="border: none"></td>
      <td><input type="text" id="thursday" formControlName="thursday" size="4" style="border: none"></td>
      <td><input type="text" id="friday" formControlName="friday" size="4" style="border: none"></td>
      <td><input type="text" id="saturday" formControlName="saturday" size="4" style="border: none"></td>
    </tr>
    <tr id="total-hours">
      <th scope="row">Total</th>
      <th>00</th>
      <th>00</th>
      <th>00</th>
      <th>00</th>
      <th>00</th>
      <th>00</th>
      <th>00</th>
    </tr>
    </tbody>
  </table>
  <div class="table-buttons">
    <button type="button" class="btn btn-secondary" [routerLink]="['/']">Back To List</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>


