<div class="select-employee">
  <label><strong>Select Employee: </strong></label>
  <select class='form-control form-dropdown' #mySelect (change)='onEmployeeSelected(mySelect.value)'>
    <option class='option' *ngFor='let employee of employees' [value]="employee.id" [selected]="employee == selectedEmployee">
      {{ employee.name }}
    </option>
  </select>
</div>

<div class="header-text">
  <img src="../../../assets/images/left-arrow.png" height="40px">
  <h2>
    Week
  </h2>
  <img src="../../../assets/images/right-arrow.png" height="40px">
  <div class="add-icon">
    <img src="../../../assets/images/plus.png" (click)="addNewRow()">
  </div>
</div>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" >
  <table class="table table-bordered" id="employee-details">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
    </thead>
    <tbody formArrayName="Tasks">
    <tr *ngFor="let obj of formArr.controls; let i = index;"
        [formGroupName]="i">
      <td>
        <select class="form-control form-dropdown" formControlName="taskName">
          <option hidden selected>{{obj.value.taskName ? obj.value.taskName : "Select Task"}}</option>
          <option *ngFor="let option of taskOptions">{{option}}</option>
        </select>
      </td>
      <td>
        <input [class.is-invalid]="obj.get('sunday')?.invalid && obj.get('sunday')?.touched" type="number" id="sunday"
               formControlName="sunday" class="form-control">
        <small [class.d-none]="obj.get('sunday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
      <td>
        <input [class.is-invalid]="obj.get('monday')?.invalid && obj.get('monday')?.touched" type="number" id="monday"
               formControlName="monday" class="form-control">
        <small [class.d-none]="obj.get('monday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
      <td>
        <input [class.is-invalid]="obj.get('tuesday')?.invalid && obj.get('tuesday')?.touched" type="number" id="tuesday"
               formControlName="tuesday" class="form-control">
        <small [class.d-none]="obj.get('tuesday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
      <td>
        <input [class.is-invalid]="obj.get('wednesday')?.invalid && obj.get('wednesday')?.touched" type="number" id="wednesday"
               formControlName="wednesday" class="form-control">
        <small [class.d-none]="obj.get('wednesday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
      <td>
        <input [class.5]="obj.get('thursday')?.invalid && obj.get('thursday')?.touched" type="number" id="thursday"
               formControlName="thursday" class="form-control">
        <small [class.d-none]="obj.get('thursday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
      <td>
        <input [class.is-invalid]="obj.get('friday')?.invalid && obj.get('friday')?.touched" type="number" id="friday"
               formControlName="friday" class="form-control">
        <small [class.d-none]="obj.get('friday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
      <td>
        <input [class.is-invalid]="obj.get('saturday')?.invalid && obj.get('saturday')?.touched" type="number" id="saturday"
               formControlName="saturday" class="form-control">
        <small [class.d-none]="obj.get('saturday')?.valid" class="text-danger">Enter valid hours</small>
      </td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <th>{{getDayTotal("sunday")}}</th>
      <th>{{getDayTotal("monday")}}</th>
      <th>{{getDayTotal("tuesday")}}</th>
      <th>{{getDayTotal("wednesday")}}</th>
      <th>{{getDayTotal("thursday")}}</th>
      <th>{{getDayTotal("friday")}}</th>
      <th>{{getDayTotal("saturday")}}</th>
    </tr>
    </tbody>
  </table>
  <div class="table-buttons">
    <button type="button" class="btn btn-secondary" [routerLink]="['/']">Back To List</button>
    <button [disabled]="!taskForm.valid" type="submit" class="btn btn-primary">Save</button>
  </div>
</form>


